@(user: models.users.User)
@main("home", user) {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
<div class="logo">
	<div class="container">

   

	
	
		
        </div>
</div>
<div class=feature>
	<div class="container">

	<h2>START TODAY!</h2>

	</div>
</div>

<div class="supporting">
      <div class="container">
        <div class="col">
          <h2>Eat</h2>
          <p>Musisz jesc wariac, bez jedzenie nie ma progresu a bez progresu nie ma cip.</p>
        </div>
        <div class="col">
          <h2>Lift</h2>
          <p>Dzwigaj jak dzwig z boba budowniczego a bedziesz wielki jak robert burneika</p>
        </div>
        <div class="col">
          <h2>Change</h2>
          <p>kto sie nie zmienia ten sie leni, a wiec zmieniaj sie i swiat hehe</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>


<div class=feature2>
	<div class="container">

	<h2>JAKIS NAPIS LADNY TUTAJ</h2>

	</div>
</div>

}
